*  {
    box-sizing: border-box;
}

main{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
nav ul, nav li{
    margin: 0;
    padding: 0;
}

nav.hide-menu {
    display: none;
}

body {
    margin-top: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
    
    background-color: beige;
    font-family: 'Gloria Hallelujah', cursive;
}

header {
    height:  4rem;
    background-color: brown;
    color: aliceblue;


}

.fa-bars {
    font-size: 2rem;
}

nav {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem; 
    border-bottom: solid 1px #333;
}


nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

nav a {
    color: inherit;
    text-decoration: none;
    transition: 0.5s;
    
    
}

nav.menu-mobile a:hover,
nav.menu-desk a:hover {
    color: red;
    text-decoration: overline underline ;
}

div.caja_movil {
    position: fixed;
    width: 40%;
    background-color: cornsilk;
    padding-left: 1rem
}
div.caja_movil_hide {
    display: none
}
    
nav.hide-menu {
  display: none;
}

.irArriba {
    
    display: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    position: fixed;
    bottom: 10px;
    right: 1%;
}

.mostrar:hover{
    display: block;
}

.pie {
    border:none;
}

h1 {
    text-align: center;
    line-height: 4rem;
    margin-top: 0rem;
    font-family: 'Shrikhand', cursive;
}
img {
    width: 100%;
}

div.imagen_intro {
    width: 100%;
    min-width: 100%;
    max-width: 1366px;
    
} 
table {
    width: 100%;
    /* border: 1px solid black; */
    
}
tbody {
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgb(250, 128, 114,0.5);
}

tr:nth-child(odd) {
    background-color: rgba(255, 127, 80,0.5);
}

div.imagen_geo {
    width: 100%;
    min-width: 100%;
    max-width: 1366px;
    
} 

div.imagen_histo {
    width: 100%;
    min-width: 100%;
    max-width: 564px;
    
} 

div.imagen_histo2 {
    width: 100%;
    min-width: 100%;
    max-width: 900px;
    
} 

div.imagen_eco {
    width: 100%;
    min-width: 100%;
    max-width: 974px;
    
} 
p {
    text-align: justify;
}

.center { text-align: center;}

form {
    text-align: center;
    
}

fieldset {
    border-radius: 0px 40px 0px 40px;
    /* background-color: rgba(67, 182, 228, 0.445); */
    background-color: rgba(165, 42, 42, 0.45);
}

label {
    display: block;
    text-align: left;
    padding-left: 15%;
}

input[type="text"], input[type="email"], textarea {
    width: 70%;
    padding: 0.5rem;
    border-radius: 10px;

}

footer {
    
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem; 
    font-family: 'Eater', cursive;
    border-top: 2px solid salmon;
    font-size: 1rem;
}


.footer2 {
    display: none;
}

.clearfix {
    clear: both;
}



@media screen and (min-width: 620px) { 
    main {
        width: 90%;
        
    }
    div.imagen_intro {
        float: left;
        width: 45%;
        min-width: 45%;
    }
    table {
        width: 50%;
        float: right;
        margin-left: 1rem;
        
    }

    div.imagen_histo {
        float: left;
        width: 44%;
        min-width: 44%;
        
    }

    div.imagen_histo2 {
        float: right;
        width: 54%;
        min-width: 54%;
    }
    .footer1 {
        display: none;
    }
    .footer2 {
        display: inline;
    }
    
}

@media screen and (min-width: 820px) { 

    main{
        width: 80%;
    }

    nav.menu-mobile {
        display: none;
    }
    
    nav.menu-desk {
        display: block;
    }


    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    
    }

    div.imagen_intro {
        float: left;
        width: 47%;
        min-width: 47%;
    }
    table {
        width: 50%;
        float: right;
        margin-left: 1rem;
        
        
        
    }
    
}

@media screen and (min-width: 1300px) { 

    .texto_clearfix {
        clear: both;
    }
}

