/*Esto seria css clasico*/
/* body {
    margin: 2rem;
    background-color: bisque;

    
}

header h1 {
    color: brown;

}

header p {
    font-size: 1.5rem;
}
 */

/*Esto es sass*/

* {
    box-sizing: border-box;
}

body {
    margin: 2rem;
    padding: 2rem;
    background-color: bisque;
    /* header{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        h1 {
            color: brown;
            font-size: 3rem;
        }
        p {
            font-size: 1.5rem;
        }
    } */
}
 /*Aqui va el header*/
 //Esto es un comentario sass que se ignora al compilar.

@import 'header.scss';

footer {
    address {};
    >p {
        color: lime;
    }
}