* {
    box-sizing: border-box;
}

header h1 {
    height: 20rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: bisque;
    background-image: url('../assets/disney.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
/*Opcion 1 para ocultar el h1 texto*/
/* header span {
    display: none
} */
/*Opcion 2 para ocultar*/
.oculto {
    opacity: 0;
}