* {
    box-sizing: border-box;
}
div {
    width: 20%;
}
img {
    width: 100%;
    max-width: 100%;
}
section.dragones {
    /* overflow: auto; */
}

section.dragones::after {
    content: '';
    display: block;
    clear: both;
}

section.dragones div {
    float: left;
}
/* Para poner fondos con trasparencia */
section.fondos {
    position: relative;

}

section.fondos::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url('../assets/Black_dragon_1300.jpg');
    opacity: 0.25;
}

section.fondos2 {
    background-color: burlywood;
    background-image: url('../assets/fondo_256.jpg');
    /* background-repeat: no-repeat; */
    color: crimson;
    padding: 1rem;
}

section.fondos2 div {
    width: 20rem;
    height: 20rem;
    padding: 2rem;
    background-color: burlywood;
    background-image: url('../assets/Black_dragon_256x256.jpg');
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* background-size: contain; */
    background-position: top right;
}

.clearfix {
    clear: both;
}